.header1container {
    margin: auto;
    padding: 10px;
    max-width: 50%;
}

.subheader {
    font-size: 1rem;
    color: black;
    text-align: center;
    /* line-height: 100%; */
    /* align-self: center;
    vertical-align: top;
    letter-spacing: 5%; */
}

.productName {
    /* font-family: 'Abhaya Libre', serif; */
    font-family: 'Alatsi', serif;
    font-size: 1.5rem;
    color: #424242;
    text-align: center;
}

.productName2 {
    /* font-family: 'Abhaya Libre', serif; */
    font-family: 'Alatsi', serif;
    font-size: 3rem;
    color: #424242;
    text-align: left;
}

.companyName {
    /* font-family: 'Abhaya Libre', serif; */
    font-family: 'Alatsi', serif;
    font-size: 1rem;
    color: #424242;
    text-align: center;
}

.companyName2 {
    /* font-family: 'Abhaya Libre', serif; */
    font-family: 'Alatsi', serif;
    font-size: 1rem;
    color: #606060;
    text-align: left;
}

.price {
    /* font-family: 'Abhaya Libre', serif; */
    font-family: 'Alatsi', serif;
    font-size: 1rem;
    color: #424242;
    text-align: center;
}

.price2 {
    /* font-family: 'Abhaya Libre', serif; */
    font-family: 'Alatsi', serif;
    font-size: 1.5rem;
    color: #424242;
    text-align: left;
    font-weight: 500;
}

.detail {
    /* font-family: 'Abhaya Libre', serif; */
    font-family: 'Alatsi', serif;
    font-size: 1rem;
    color: #606060;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bnpl {
    /* font-family: 'Abhaya Libre', serif; */
    font-family: 'Alatsi', serif;
    font-size: 1rem;
    color: #D02626;
    text-align: left;
    margin-bottom: 10px;
}


.background {
    background-color: #F4F4F4;
    background-repeat: repeat-y;
}